<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CoolGroups.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="(userService.isLoggedIn | async)">
            <a class="nav-link active" (click)="navigateToUserHome()">Home</a>
          </li>
          <li class="nav-item" *ngIf="(userService.isLoggedIn | async)" >
            <a class="nav-link" (click)="navigateToProfile()" >Profile</a>
          </li>
          <li class="nav-item" *ngIf="(userService.isLoggedIn | async)">
            <a class="nav-link" >Messages</a>
          </li>
          <li class="nav-item" *ngIf="!(userService.isLoggedIn|async)" >
            <button class="btn btn-light" (click)="navigateToLogin()" >Login</button>
          </li>
          <li class="nav-item" *ngIf="(userService.isLoggedIn | async)">
            <button  class="btn btn-light" (click)="navigateToHome()" >Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
