<div class="container text-center mt-5">
    <h1>Welcome to CoolGroups.com</h1>
    <p class="lead">Connect with friends, share your moments, and explore new ideas.</p>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="https://media.istockphoto.com/id/1384618716/photo/group-of-happy-friends-taking-selfie-pic-outside-happy-different-young-people-having-fun.jpg?s=2048x2048&w=is&k=20&c=x1e2yVN2wZjtCZSyBcSi15L6mitP8dPRRp6W00T9gjc=" class="img-fluid rounded shadow" alt="Social Media">
      </div>
      <div class="col-md-4">
        <img src="https://thumbs.dreamstime.com/z/young-group-student-friends-doing-homework-preparing-exam-together-sitting-table-campus-college-education-lifestyle-362812766.jpg?ct=jpeg" class="img-fluid rounded shadow" alt="Friends Chat">
      </div>
      <div class="col-md-4">
        <img src="https://thumbs.dreamstime.com/z/indian-teenage-student-handsome-high-school-carrying-schoolbag-31571598.jpg?ct=jpeg" class="img-fluid rounded shadow" alt="Community">
      </div>
    </div>
  
    <a class="btn btn-primary mt-4" href="#">Get Started</a>
  </div>
  

