<div class="container text-center mt-5">
    <h1>Welcome to CoolGroups.com</h1>
    <p class="lead">Connect with friends, share your moments, and explore new ideas.</p>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="https://i.postimg.cc/Kvp8Kgxq/IMG-20220508-145059-0578.jpg" class="img-fluid rounded shadow" alt="Social Media">
      </div>
      <div class="col-md-4">
        <img src="https://i.ibb.co/YBzRpcZb/IMG-20240101-WA0033.jpg" class="img-fluid rounded shadow" alt="Friends Chat">
      </div>
      <div class="col-md-4">
        <img src="https://i.ibb.co/tw76nwkG/visapur-trek.jpg" class="img-fluid rounded shadow" alt="Community">
      </div>
    </div>
  
    <a class="btn btn-primary mt-4" href="#">Get Started</a>
  </div>
  

